<html>
    <head>
      <title>Lestari Gold - Image Recognition Testing</title>
    </head>
    <body>
        <div>
          Lestari Gold - Image Recognition Testing
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>