{% extends "base.html" %}

{% block content %}
    <center>
        <h1>Image</h1>
        <form action="" method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {% if preview == "none" %}
                    <div><img id="preview" style="width:20%;"/></div>
                {% else %}
                    <div><img id="preview" src="{{ url_for('download_file', filename='jewel_upload/' + preview) }}" style="width:20%;"/></div>
                {% endif %}

                <div>{{ form.photo(size=32) }}</div>

                {% for error in form.photo.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
            <table border="1">
                <tr>
                    <th>Rank</th>
                    <th>Image</th>
                    <th>Name</th>
                </tr>
                {% for item in results %}
                    <tr>
                        <td style="text-align: center;">{{ loop.index }}</td>
                        <td style="text-align: center;">
                            <img src="{{ url_for('download_file', filename='jewel_train/jewel_' + item|string() + '.jpg') }}" style="width:20%;"/></td>
                        <td style="text-align: center;">jewel_{{ item }}</td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </center>
    <script>
        document.getElementById("photo").onchange = 
        function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("preview").src = e.target.result;
            };
            reader.readAsDataURL(this.files[0]);
        };
    </script>
{% endblock %}